* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Pacifico", cursive;
}
a {
  text-decoration: none;
  word-break: break-word;
}

ul {
  list-style-type: none;
  margin-bottom: 0;
  padding: 0;
}
ul a {
  text-decoration: none;
}
p {
  margin: 0;
}

.text-orange {
  color: #20e261;
}
.bg-orange {
  background-color: #20e261;
}
.bg-dark {
  background-color: #292e32;
}
.bg-dark2 {
  background-color: rgb(0, 0, 0);
}

.cursor-pointer {
  cursor: pointer;
}
:root {
  --light-color: #f2f5f9;
  --light-color-2: #e1e8ef;
  --dark-color-1: #1d1b18;
  --orange: #ff9c1b;
  --lemon: #20e261;
  --skyBlue: #aa3aff;
  --red: #eb0867;
  --body-bg: #f2f5f9;
  --body-color: #e1e8ef;
  --white: #fff;
  --gray-100: #212529;
  --shadow: rgba(100, 100, 111, 0.2);
  --pacifico-font: "Pacifico", cursive;
  --poppins-font: "Poppins", sans-serif;
  --raleway-font: "Raleway", sans-serif;
}
.row {
  --bs-gutter-x: 0;
  --bs-gutter-y: 0;
}
.container {
  padding: 0 2rem;
}

.special-heading {
  border-top: 2px solid var(--orange);
}
.special-heading h1 {
  margin-top: -60%;
}
