@media (width<992px) {
  .my-nav {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 999;
  }
}

/* aside */

.myImg {
  width: 250px;
  margin: -100px;
}
.description {
  margin-top: 100px;
}
.social-icons a {
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.social-icons a:hover {
  background-color: var(--orange);
}
.resume-btn:before,
.resume-btn:after,
.resume-btn p:before,
.resume-btn p:after {
  position: absolute;
  content: "";
  transition: 0.5s;
  background-color: var(--orange);
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.resume-btn {
  position: relative;
  padding: 10px 0;
  transition: 0.5s;
}

.resume-btn p {
  position: relative;
  transition: 0.5s;
}

.resume-btn:before,
.resume-btn:after {
  width: 120%;
  height: 4px;
  left: -10%;
}

.resume-btn p:before,
.resume-btn p:after {
  width: 5px;
  height: 155%;
}

.resume-btn p:before {
  right: -5%;
  top: -22%;
}

.resume-btn p:after {
  height: 155%;
  left: -5%;
  top: -20%;
}

.resume-btn:hover:before {
  top: 5%;
}

.resume-btn:hover:after {
  bottom: 5%;
}

.resume-btn:hover p:before {
  right: -18%;
}

.resume-btn:hover p:after {
  left: -18%;
}

.details div {
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.details div:hover {
  transform: translate(10px);
  -webkit-transform: translate(10px);
  -moz-transform: translate(10px);
  -ms-transform: translate(10px);
  -o-transform: translate(10px);
}
/* aside */
